Question 1: If Statements
Write an if statement to compare two variables, a and b. If b is greater than a, print a message saying "b is greater than a".

In [2]:
a=44
b=99
if (a>b):
    print(a, "is greater than ",b)
else:
    print(b, "is greater than " ,a)

99 is greater than  44

Question 2: If-Else Statements
Write an if-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". Otherwise, print "a and b are equal".

In [3]:
a=44
b=44
if (a>b):
    print("a is greater  than b")
elif(a==b):
    print("a and b are equal")
else:
    print(" b is greater than a")

a and b are equal


Question 3: If-Elif-Else Statements
Write an if-elif-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". If a and b are equal, print "a and b are equal". Otherwise, print "a is greater than b".

In [4]:

a = 10
b = 15

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

Question 4: Create and Access Tuple
Create a tuple with the elements ("apple", "banana", "cherry"). Access and print the second element of the tuple.

In [5]:
fruit=("apple", "banana", "cherry")
print(fruit)
print(fruit[1])

('apple', 'banana', 'cherry')
banana

Question 5: Tuple with One Item
Create a tuple with a single item "apple". Print the type of the tuple to confirm it's a tuple.

In [7]:
fruit=("apple",)
type(fruit)

tuple

Question 6: Check if Item Exists in Tuple
Create a tuple with the elements ("apple", "banana", "cherry"). Check if the item "apple" exists in the tuple and print the result.

In [14]:
fruit=("apple", "banana", "cherry")
if "apple"  in fruit:
    print("apple")

apple

Question 7: Convert Tuple to List and Modify
Convert a tuple ("apple", "banana", "cherry") to a list. Change the second item to "kiwi" and convert it back to a tuple. Print the modified tuple.

In [19]:
fruit=("apple", "banana", "cherry")
fruits=list(fruit)
fruits[1]="kiwi"
fruit=tuple(fruits)
print(fruit)

('apple', 'kiwi', 'cherry')

Question 8: Add and Remove Items from Set
Create a set with the elements {"apple", "banana", "cherry"}. Add "orange" to the set and remove "banana". Print the modified set.

In [21]:
s1={"apple", "banana", "cherry"}
s1.remove("banana")
s1.add("orange")
print(s1)

{'cherry', 'apple', 'orange'}

Question 9: Loop Through Tuple
Create a tuple with the elements ("apple", "banana", "cherry"). Use a for loop to print each item in the tuple.

In [22]:
fruit=("apple", "banana", "cherry")
for i in fruit:
    print(i)

apple
banana
cherry

Question 10:
Create a set with the elements {"apple", "banana", "cherry"}. Update it with another set {"pineapple", "mango", "papaya"} and a list ["kiwi", "orange"]. Print the updated set.

In [28]:
s1={"apple", "banana", "cherry"}
s2={"pineapple", "mango", "papaya"}
s3= ["kiwi", "orange"]
s1.update(s2)
s1.update(s3)
print(s1)

{'kiwi', 'banana', 'apple', 'papaya', 'pineapple', 'cherry', 'mango', 'orange'}