<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [65]:
# create empty list, name it 'a'
a=[]
type(a)

list

In [66]:
# print the value of a
print(a)

[]

In [67]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [68]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [69]:

languages = ['R','Python', 'SAS', 'Scala', 42]
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [70]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [71]:
temp=languages[1]
print(temp)

Python

Print the value of temp and type(temp)

In [72]:
type(temp)

str

Append the element 'Java' in the list

In [75]:
languages = ['R','Python', 'SAS', 'Scala', 42]
languages.append('java')

Remove the element 42 from the list and print the list

In [76]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [25]:
colors=['Red','blue','White']
print(colors)

['Red', 'blue', 'White']

Append the element 'Black' to colors

In [29]:
colors.append('Black')
print(colors)

['Red', 'Orange', 'blue', 'White', 'Black', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [27]:

colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'blue', 'White', 'Black']

Print the list

In [28]:
print(colors)

['Red', 'Orange', 'blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [33]:
colors2=['Grey','Sky','Blue']
print(colors2)

['Grey', 'Sky', 'Blue']

Add the elements of colors2 to colors using extend function in the list

In [35]:
colors.extend(colors2)
print(colors)
colors.pop(4)

['Red', 'Orange', 'blue', 'White', 'Black', 'Black', 'Grey', 'Sky', 'Blue', 'Grey', 'Sky', 'Blue']

'Black'

Print len of colors and its elements

In [36]:

print(len(colors))

11

Sort the list and print it.

In [38]:

colors.sort()
print(colors)

['Black', 'Blue', 'Blue', 'Grey', 'Grey', 'Orange', 'Red', 'Sky', 'Sky', 'White', 'blue']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [39]:
sent ='Coronavirus Caused Lockdowns Around The World.'
print(sent)

Coronavirus Caused Lockdowns Around The World.

Use split function to convert the string into a list of words and save it in variable words and print the same

In [43]:

words=sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [4]:

words=['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']
words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world']

Check whether ‚Äòcountry‚Äô is in the list

In [5]:
if "country" in words:
    print("yes")
else:
    print("No")

No

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [5]:

words=['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World']
new_words=words.remove("The")
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [8]:
words_lower=['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World']
x4=words_lower[0:4]

In [9]:
print (x4)

['Coronavirus', 'Caused', 'Lockdowns', 'Around']

Convert the list of elements to single string using join function and print it

In [11]:
st=" ".join(words_lower)
print(st)

Coronavirus Caused Lockdowns Around World

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [18]:
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [19]:

print(len(stud_grades))
print(type(stud_grades))

6
<class 'list'>

Create a new variable, stud_grades_set = set(stud_grades)

In [20]:
stud_grades_set=set(stud_grades)

Print stud_grades_set.

In [21]:
print(stud_grades_set)

{'C', 'F', 'B', 'A'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [23]:
print(type(stud_grades))
print(type(stud_grades_set))
print(stud_grades)
print(stud_grades_set)

<class 'list'>
<class 'set'>
['A', 'A', 'B', 'C', 'C', 'F']
{'C', 'F', 'B', 'A'}

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [25]:
stud_grades_set.add("G")

Add element 'F' to stud_grades_set. and print it.

In [26]:
stud_grades_set.add("F")
print(stud_grades_set)

{'G', 'F', 'C', 'B', 'A'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [27]:

stud_grades_set.remove("F")

Print the elements and the length of stud_grades_set

In [29]:
print(stud_grades_set)
print(len(stud_grades_set))

{'G', 'C', 'B', 'A'}
4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [33]:
colors = ["red" ,"blue" , "orange"] 
fruits = ["orange","grapes","apples"]

Print color and fruits

In [34]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [35]:
colors_set=set(colors)
fruits_set=set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'blue', 'orange'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [36]:
uni=colors_set.union(fruits_set)
print(uni)

{'orange', 'apples', 'red', 'blue', 'grapes'}

Find the intersection of both the sets

In [38]:

int=colors_set.intersection(fruits_set)
print(int)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [39]:

diff=fruits_set.difference(colors_set)
print(diff)

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [42]:
temp=[17,'Virat',50.0]

print(temp)

[17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [41]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [44]:
temp[0]=11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [45]:
temp1=tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [46]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [53]:
temp=list(temp1)
temp[0]=17
temp2=tuple(temp)
print(temp2)

(17, 17, 50.0)

### Create city = ("Bangalore", 28.9949521, 72)

In [57]:
city=("banglore",28.9949521,72)

Print first element of city

In [59]:
first_ele=city[0]
print(first_ele)

banglore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [60]:
city2=("chennai",30.01,74)

Create cities which consist of city and city2

In [ ]:
cities=city+city2
print(cities)

('banglore', 28.9949521, 72, 'chennai', 30.01, 74)

Print cities

In [62]:
print(cities)

('banglore', 28.9949521, 72, 'chennai', 30.01, 74)

Print type of first element in cities

In [63]:
print(type(cities[0]))

<class 'str'>

print the type of cities

In [64]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [77]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [83]:
f_value=list(d.items())[0]
print(f_value)

('actor', 'amir')

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [84]:
actor=d["actor"]
print(actor)

amir

Print the type of actor

In [85]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [86]:
list=d["list"]
print(list)

[23, 32, 12]

Print the type of List.

In [87]:
print(type(list))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [88]:
d1 = { "singer" : "Kr$na" , "album": "Still here", "genre" : "hip-hop"}

Merge d1 into d.

In [94]:
d.update(d1)
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

print d

In [95]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [96]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [97]:
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [99]:
for key,value in d.items():
    print(key,value)

actor amir
animal cat
earth 2
list [23, 32, 12]
singer Kr$na
album Still here
genre hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [101]:

sent = "your_string"

char_count = {}


for char in sent:
    if char in char_count:
        char_count[char] += 1  
    else:
        char_count[char] = 1  

print(char_count)

{'y': 1, 'o': 1, 'u': 1, 'r': 2, '_': 1, 's': 1, 't': 1, 'i': 1, 'n': 1, 'g': 1}